@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Mobile first */
body {
  font-family: Poppins, "Open Sans", sans-serif;
  background: #f7f7f9;
}

section {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#presentation_container {
  gap: 0.75rem;
  border-radius: 0 0 0 75px;
  background-image: url("assets/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#intro_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.75rem;
  padding: 0 24px;
}

#header_container {
  padding: 0 24px;
}

#header_container > nav {
  background: #fff0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_container ul {
  display: none;
}

#logo {
  font-size: large;
  font-weight: bold;
  color: #6070ff;
}

#my_description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #344563;
}

#lets_connect {
  color: #7f8cff;
  font-weight: 500;
}

.h2_gray_title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#socials {
  display: flex;
}

.mobile-menu {
  background: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(0.5rem);
  position: fixed;
  padding: 45px 28px;
  transition: left 0.5s ease-in-out;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.menu-mobile-active {
  left: 100%;
}

.mobile-menu-ul {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 60px;
}

.mobile-menu-option {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  color: #fff;
}

.menu-x {
  position: fixed;
  inset: 2% 0 0 74%;
}

.menu-hidden {
  visibility: hidden;
}

.modal_container {
  margin: auto;
  border: 0px;
  border-radius: 0.5rem;
}

.modal_container .card_img_container {
  display: flex;
  justify-content: center;
}

.modal_container p {
  -webkit-line-clamp: 9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: scroll;
  font-size: 15px;
  color: #344563;
}

.modal_container::backdrop {
  background: #505f79;
  opacity: 0.5;
}

.modal_content {
  max-width: 1156px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal_content h3 {
  font-size: 32px;
}

.card_languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.modal_content .card_languages {
  justify-content: start;
}

.modal_content .card_projectType_container {
  justify-content: start;
}

.modal_title_container {
  display: flex;
  justify-content: space-between;
}

.modal_container .card_btn_container {
  justify-content: center;
  display: flex;
  gap: 12px;
  padding-top: 8px;
}

.modal_container hr {
  border: 1px solid #ebecf0;
  width: 100%;
  margin: 0.75rem 0;
}

.modal_container .card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card_projectType_container > p {
  color: #7a869a;
  font-weight: 600;
  font-size: 0.8125rem;
}

.modal_container .card_btn p {
  color: #396df2;
}

.modal_container .card_btn:hover p {
  cursor: pointer;
  color: #fff;
}

.modal_container .close_menu {
  width: 44px;
}

.modal_container .leftSide_container {
  width: 100%;
}

.card_projectType_container > div {
  color: #c1c7d0;
  font-size: 1rem;
}

#socials > ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

.dropdown-btn > img {
  padding-right: 32px;
}

.dropdown-content > li > img {
  width: 48px;
  height: 48px;
  position: relative;
  left: 12px;
}

#socials img {
  width: 20px;
  height: 20px;
}

/* Work section */
#works_container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  gap: 5.5rem; /* 88px ÷ 16px = 5.5rem */
  padding: 7.125rem 1.5rem; /* 114px ÷ 16px = 7.125rem, 24px ÷ 16px = 1.5rem */
  background: #f7f7f9;
}

#works_container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: #fff;
  padding: 1rem 1rem 2rem;
  border: 1px solid #dfe1e6;
}

.card_projectType_container {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card_description_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card_description_container > h3 {
  width: 270px;
  color: #172b4d;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
}

.card_projectType_container > .canopy {
  color: #344563;
  line-height: 1rem;
}

.card_projectType_container > .project_type,
.project_year {
  color: #7a869a;
}

.card_description {
  width: clamp(270px, 95%, 100%);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #344563;
}

.card_languages > li {
  color: #6070ff;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background: #ebebff;
}

.card_btn {
  width: 7.875rem;
  height: 3rem;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  background: #fff;
  align-self: flex-start;
}

#about_main_container {
  height: fit-content;
  padding: 114px 24px;
}

#about_me_container {
  height: fit-content;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  border-radius: 0 100px 0 0;
}

#about_me_description {
  width: clamp(270px, 88%, 100%);
}

#about_me_description_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button:hover {
  cursor: pointer;
  background: #6070ff;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  background: #c1c7d0;
  color: #5e6c84;
}

#about_me_description_container > button {
  width: 162px;
  margin-top: 12px;
}

#skills_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-x: hidden;
}

#skills_container > .dropdown {
  list-style: none;
}

.dropdown-btn {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-between;
}

.dropdown-btn > p {
  padding-left: 12px;
}

.dropdown-btn > .isActive_false {
  transform: rotate(-0.25turn);
  padding: 0 0 65px 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.dropdown-content > li {
  width: 303px;
  height: 66.72px;
  color: #253858;
  background: #f7f7f9;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.dropdown-content > li > p {
  position: relative;
  left: 24px;
}

.separator {
  height: 1px;
  background-color: #dfe1e6;
  border: none;
  width: 93%;
}

#form_container {
  height: fit-content;
}

#contact_form_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px / 16px = 1.5rem */
  background: #6070ff;
  border-radius: 4.6875rem 0 0 0; /* 75px / 16px = 4.6875rem */
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem; /* 24px / 16px = 1.5rem */
  background-image: url("assets/background-form.svg");
  background-position-x: right;
  background-position-y: 1rem; /* 16px / 16px = 1rem */
  background-repeat: no-repeat;
}

#contact_form_container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #ebebff;
  padding-top: 6.4375rem;
}

#contact_form_container > p {
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ebebff;
  padding: 0 1.5rem;
  word-spacing: 0.0625rem;
  word-break: 0.125rem;
}

#contact_form_container input {
  height: 3rem;
  font-weight: 400;
  color: #172b4d;
  font-size: 1.0625rem;
}

#contact_form_container :where(input, textarea) {
  width: 100%;
  border-radius: 0.3125rem;
  border: none;
  padding: 0 0.75rem;
}

#contact_form_container ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

#contact_form_container textarea {
  padding: 1rem 0 0 0.75rem;
}

#contact_form_container ul button {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .card_languages li:nth-child(n + 4) {
    display: none;
  }
}

@media (width >= 768px) {
  .modal_container .card_description_container {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 3.68rem 0 0 0;
  }

  .modal_container hr {
    margin: 0.75rem 0;
  }

  .modal_container .card_btn {
    margin-top: 0;
  }

  .modal_container .card_languages {
    padding-top: 0;
  }

  .modal_container .card_img_container {
    padding: 0;
  }

  .modal_container .card_img_container > img {
    padding: 0;
  }

  .card_img_container > img {
    max-width: 1108px;
    padding-left: 16px;
  }

  .modal_container .card_languages {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    flex-wrap: wrap;
    width: 221px;
  }

  .modal_container p {
    -webkit-box-orient: unset;
    overflow: hidden;
  }

  .modal_container .card_description {
    padding-top: 0px;
    padding-bottom: 6.94rem;
  }

  #header_container {
    padding: 0;
    width: 100%;
    position: fixed;
  }

  .dropdown-content > li > p {
    position: relative;
    left: 8px;
  }

  #contact_form_container p {
    width: clamp(529px, 20%, 100%);
  }

  #header_container nav > div > p {
    padding: 0 143px;
  }

  #header_container > nav {
    height: 72px;
    position: fixed;
    width: 100%;
  }

  .card_img_container > img {
    width: 100%;
  }

  .dropdown-content > li > img {
    position: relative;
    left: 8px;
    bottom: 16px;
  }

  .cards:nth-child(even) .card_img_container > img {
    margin: 0;
    padding-right: 23px;
  }

  #header_container div > img {
    display: none;
  }

  #header_container ul {
    display: flex;
    list-style: none;
    gap: 8px;
    padding: 0 143px;
  }

  .dropdown-content > li {
    height: 120px;
    width: 122px;
    justify-content: center;
    flex-direction: column;
    align-items: start;
  }

  #header_container ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 40px;
  }

  #header_container ul > li > p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #344563;
  }

  #presentation_container {
    background-image: url("assets/Header\ bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #intro_container {
    justify-self: center;
    align-self: center;
    width: clamp(300px, 55%, 100%);
  }

  #greeting > h2 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  #my_description {
    height: 98px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  #lets_connect {
    padding-top: 24px;
  }

  #works_container {
    display: flex;
    flex-direction: column;
    gap: 142px;
    align-items: center;
  }

  #works_container > .cards {
    height: 496px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .card_img_container {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
  }

  .card_description_container {
    grid-column: 2 / 3;
    padding-left: 48px;
    padding-top: 32px;
    gap: 0;
  }

  .card_description_container button {
    margin-top: 20px;
  }

  #no_inset {
    inset: 0;
    margin-left: 0;
  }

  .cards:nth-child(even) .card_img_container {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }

  .cards:nth-child(even) .card_description_container {
    grid-column: 1 / 2;
    padding-left: 48px;
    margin: 0;
  }

  .cards:nth-child(even) .card_btn {
    grid-column: 1 / 2;
    padding: 0;
  }

  #contact_form_container {
    background-image: url("assets/background-formDesktop.svg");
    background-position: center;
  }

  #contact_form_container ul {
    align-items: center;
  }

  #contact_form_container :where(input, textarea) {
    width: 447px;
  }

  #contact_form_container ul button {
    margin-bottom: 127px;
  }

  #about_main_container {
    display: grid;
    gap: 12px;
    flex-direction: row;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
    padding: 114px 0 114px;
    padding-left: 24px;
    padding-right: 24px;
  }

  #about_me_description {
    width: min(447px, 100%);
  }

  .dropdown-content {
    flex-direction: row;
  }

  #skills_container {
    padding: 0;
    justify-self: start;
    width: 100%;
  }

  .dropdown-btn {
    width: 100%;
  }

  .card_description {
    padding-top: 24px;
  }

  .card_languages {
    padding-top: 28px;
  }

  .separator {
    width: 100%;
  }
}

@media (width >= 1440px) {
  #about_main_container {
    max-width: calc(100% - 286px);
    padding-left: 143px;
    padding-right: 143px;
  }

  #lets_connect {
    padding-top: 0;
  }

  .cards {
    height: 496px;
  }

  #works_container > .cards {
    height: 496px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    width: 1156px;
  }
}
